
<hr>
<div class=row>

    <% include ../top/1sid %>
    
    <div class="col-lg-10">
        <div align="center">
            <div class="tes1">コース内容詳細</div>    
              
        </div><!-- /center --> 
    </div><!-- /col10-->
        
    <% include ../top/1sid %>


</div><!-- /row -->

<br>

<div class="row">
    <div class="col-lg-12">

    <% include cal4 %>
    
    <% include cal1 %>
    
    <% include cal2 %>
    
    <% include cal3 %>
    
    
    
    
    
    </div>
   
</div>    


<script src=js/cte.js></script>
