    
<div class="row">
<div class="col-lg-12">
<div align="left">
   
    <div class="ex12">
    <span style="font:15pt bold;">    
       3.DTMコース</span>
    </div>

    
</div>
</div>    
</div>


<br>

<div class="row">
 <div class="col-lg-9">

<span style="font-size:15pt"> </span>


<div class="row">

    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">01</span>    
    <span style="font-size:13pt">DTM/メロディーの考え方1</span>  	

    <br><br>
    <span class="head_test-point2">04</span>    
    <span style="font-size:13pt">DTM/コード理論2</span>  	

    </div>


    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">02</span>    
    <span style="font-size:13pt">DTM/メロディーの考え方2</span> 

    <br><br>
    <span class="head_test-point2">05</span>    
    <span style="font-size:13pt">DTM/コード理論3</span> 

    </div>


    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">03</span>    
    <span style="font-size:13pt">DTM/コード理論1</span> 

    <br><br>
    <span class="head_test-point2">06</span>    
    <span style="font-size:13pt">DTM/ハモリのつけ方1</span> 

    </div>
 </div> 


 <hr>

<div class="row">

    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">07</span>    
    <span style="font-size:13pt">DTM/ハモリのつけ方2</span>  	

    <br><br>
    <span class="head_test-point2">10</span>    
    
    <span style="font-size:13pt">DTM/オケの考え方1</span> 

    </div>


    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">08</span>    
    <span style="font-size:13pt">DTM/リズムラインのつけ方</span> 

    <br><br>
    <span class="head_test-point2">11</span>    
    <span style="font-size:13pt">DTM/オケの考え方2</span> 

    </div>

    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">09</span>    
    <span style="font-size:13pt">DTM/ベースラインのつけ方</span>


    <br><br>
    <span class="head_test-point2">12</span>    
    <span style="font-size:13pt">DTM/オケの考え方3</span> 


    </div>
 </div>

 <hr>

<div class="row">

    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">13</span>    
    
    <span style="font-size:11pt">DTM/全員の楽曲持ち寄り鑑賞会(楽天ライブ配信)1 </span>  	

    <br><br>
    <span class="head_test-point2">16</span>    
    
    <span style="font-size:13pt">本格レコーディング実習前準備2</span> 

    </div>


    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">14</span>    
    <span style="font-size:11pt">DTM/全員の楽曲持ち寄り鑑賞会(楽天ライブ配信)2 </span> 

    <br><br>
    <span class="head_test-point2">17</span>    
    <span style="font-size:13pt">レコーディング実習1</span> 

    </div>

    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">15</span>    
    <span style="font-size:13pt">本格レコーディング実習前準備1</span>


    <br><br>
    <span class="head_test-point2">18</span>    
    <span style="font-size:13pt">レコーディング実習2</span> 


    </div>
 </div>

 <hr>


 <div class="row">

    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">19</span>    
    
    <span style="font-size:13pt">レコーディング実習3</span>  	

    <br><br>
    <span class="head_test-point2">22</span>    
    
    <span style="font-size:13pt">ヴォーカルディレクション1</span> 

    </div>


    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">20</span>    
    <span style="font-size:13pt">生徒作り途中の曲を添削1</span> 

    <br><br>
    <span class="head_test-point2">23</span>    
    <span style="font-size:13pt">ヴォーカルディレクション2</span> 

    </div>

    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">21</span>    
    <span style="font-size:13pt">生徒作り途中の曲を添削2</span>


    <br><br>
    <span class="head_test-point2">24</span>    
    <span style="font-size:13pt">配信準備1</span> 


    </div>
 </div>

 <hr>



 <div class="row">

    <div class="col-lg-4">
    <br>
    <span class="head_test-point2">25</span>    
    
    <span style="font-size:13pt">配信準備2</span>  	

    <br><br>

    </div>


    <div class="col-lg-4">
    <br>

    <br><br>

    </div>

    <div class="col-lg-4">
    <br>


    <br><br>


    </div>
 </div>
 </div>


<div class="col-lg-3">

    <div align="center">
    <img class="img-fluid" src="img/em_dt.png" id="" width="110%" height="110%">   
    </div>

</div>
</div>
























