    
<div class="row">
<div class="col-lg-12">
<div align="left">
   
    <div class="ex12">
    <span style="font:15pt bold;">    
       全コース共通事項</span>
    </div>

    
</div>
</div>    
</div>


<br>

<div class="row">
<div class="col-lg-11">

<br>


    <span style="font-size:13pt">.授業は1コマ90分 (各コース専門内容60分/作詞作曲授業(全クラス共通)30分 )</span>  	
    <br>
    <span style="font-size:13pt">.作詞は課題として出題し、各自で制作する形式</span>  	
    <br>
    <span style="font-size:13pt">.作曲は4つのコードを元に各自でメロディーを作成</span> 
    <br><br>
    <span style="font-size:13pt">作成されたメロディーはDTMコースのスクール生がアレンジし、歌をのせて完成させます。</span>
    <br><br>
    <span style="font-size:13pt">また、月1回第一線で活躍する方々を特別講師を迎え、特別講座を開催いたします。<br>
    (特別講師には、コバソロ氏、高橋洋子氏をはじめ、人気のボカロPや絵師、人気webマガジンのライター、イラストレーター、メイクアップアーティスト、レーベルプロデューサーなど、豪華講師陣を予定  
    </span> 


</div> 
</div>

<br><br>

