
<br>

<div class="row">

<a class="lnk1" href="#">home</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a class="lnk1" href="#crs">コース</a>
<br><br>


    <div class="col-lg-10"> 
         <br><br>
        <div align="center">
        <span class="head_test-point1">01</span>
        <span style="font-size:38px">カリキュラムについて</span>
       
        <br><br>    
             
    <div class="tes1">3つのえらべるコース</div>
       
    </div><!--/col10-->
    </div><!--/cetner-->
     
   
</div><!-- /row -->



<script src=js/cte.js></script>
