	<div class="card">
	<img class="img-fluid" src="img/AA.png"  alt="ライブ授業画像">
    <div class="card-body">
    <h4 class="card-title">ライブ授業</h4>
    
    <p class="card-text">
    ライブレッスンは、とにかく実践！現役のクリエイターだからこそ知っている現場の生の情報やスキルをそのままカリキュラムにしているので、就職・転職に有利に働き、転職後のステップアップ術まで身につきます。<br>
    </p>
    
    <br><br>
    
   
<a class="btn btn12" href="/cart" target="_blank" role="button">
講座へのお申込みはこちら</a>




 </div> <!-- body -->
 </div> <!-- card -->

