	<div class="card">
		<img class="img-fluid" src="img/AA.png" alt="ライブ授業画像">
      	<div class="card-body">
        <h4 class="card-title">eラーニング授業</h4>
        <p class="card-text">自宅でも、移動中でも、いつでもどこでもログインするだけで学ぶことができます。あなたのライフスタイルに合わせたベストなスケジュールを組み立ててください。<br><br><br></p>
        <br>
        
    
   
<a class="btn btn12"  href="/live" target="_blank" role="button">
講座へのお申込みはこちら</a>
   
   
 

		</div>
    	</div>

