<hr>
<div class=row>
    <div class="col-lg-1"></div>

    <div class="col-lg-10">
    <div class="crs3">			
    料金一覧<br><br>
    </div><!-- /crs3 --> 
    </div><!-- col10-->
    
    <div class="col-lg-1"></div>

</div><!-- row-->

<!-- タイトル-->

<div class="row">
<div class="col-1"></div>
<div class="col-10">     
<% include ./pay1 %></div> 
<div class="col-1"></div>

</div><!-- /row -->



