   <div class="table-responsive">
   <table class="table table-bordered">
   
   <thead>
   <tr>
    <th class="bg-bl8"></th>
    <th class="bg-bl8" scope="col">前期クラス&nbsp; &nbsp;（4〜9月）</th>
    <th class="bg-bl8" scope="col">後期クラス&nbsp; &nbsp; （10〜3月）</th>
    <th class="bg-bl8" scope="col">特別授業&nbsp; &nbsp; (月1回)</th>
    <th class="bg-bl8" scope="col">1コマ受講</th>   
   </tr>
   </thead>
   

   <tbody>
    <tr>
     <th class="bg-bl9" scope="row">ライブ授業</th>
     <td>120,000円  &nbsp;(税抜)</td>
     <td>120,000円 &nbsp;(税抜)</td>
     <td>10,000円 &nbsp;(税抜)</td>
     <td>5,000円 &nbsp;（税抜）</td>
    </tr> 

    <tr>
     <th class="bg-bl9" scope="row">eラーニング授業</th>
     <td>120,000円&nbsp;(税抜)</td>
     <td>120,000円&nbsp;(税抜)</td>
     <td>10,000円&nbsp;(税抜)</td>
     <td>5,000円&nbsp;（税抜）</td>
    </tr> 
     
    <tr>
     <th class="bg-bei" scope="row"></th>
     <td class="bg-bei" colspan="4">※上記の他に、リアルキャンプやライブ開催などの際には別途費用が発生致します。（希望者のみ） </td>

    </tr> 
    
   </tbody>
   </table><!--/box29--> 
   </div>




<div class="row">
<div class="col-lg-8">
</div>

<div class="col-lg-4">
<div align="right">

              
	<form method="post" action="/cart">
    <input type="hidden" name="sku" value=101>
    <input type="hidden" name="pri" value=5000><br>
    <button class="btn btn-primary" type="submit">講座へのお申込はこちら</button>
	</form>
    
      
</div><!--col4-->
</div><!--col8-->
</div><!-- row-->













