
<div class="row">

	<div class="col-2"></div>
	
	<div class="col-8">
		<div class="bg-mis p-3 rounded">
		
		<span style="font-size:28px; color:#00afcc; font-weight:bold;">前期</span><br><br>
	    
        	
		1. カバー曲の探し方<br><br>
		
		2. SNSの基礎<br>
	    		
		3. 撮影の仕方<br>
				
		4. 動画のUPの仕方<br>
       			
		5. メイク講座 <br>
								
		6. ファッション講座  <br>
	   			
		※進行状況に合わせて、項目を修正、または追加する可能性があります。<br><br>
		
		</div><!--/col8-->
	</div><!--/mis -->
	
	<div class="col-2"></div>

</div><!-- /row -->

