<p class="bkg-ali p-10 has-t-cen">info search</p>
input name
<form action="info-res" method="post">
    <input type="text" name="sea" class="input" ><br><br>
    <button class="button" type="submit">submit</button>
</form>
