

<div class="row">


	<div class="col-1"></div>
	
	<div class="col-10">
		<div class="p-3 rounded">
		
		<span style="font-size:28px; color:#00afcc; font-weight:bold;">ライブ授業</span><br><br>
	    <br><br>
           
        <div class="row"> 

        <div class="col-lg-4">
        <span style="font-size:20px; color:#e73562; font-weight:bold;">①現役のプロ講師から学べる</span><br><br>
        プロ講師から、現場で即戦力となる業界水準のスキルを学べます。<br>
		</div>	


        <div class="col-lg-4">
        <span style="font-size:20px; color:#e73562; font-weight:bold;">②きめ細やかな指導を受けられる</span><br><br>
        少人数制ならではの、ひとり一人に目の行き届いた授業です。<br>
        </div>	


        <div class="col-lg-4"> 	
		<span style="font-size:20px; color:#e73562; font-weight:bold;">③あなたの意欲にプロが応えてくれる</span><br><br>
        双方向のリアルな授業なので、納得するまでプロ講師に質問ができ、スキルアップにつながります。<br>
        </div>	

                 
        </div><!--/row-->


        <br><br>



        <div class="row"> 

        <div class="col-lg-4">
        <span style="font-size:20px; color:#e73562; font-weight:bold;">④技術以外のスキルが磨ける</span><br><br>
        心構え、センス、考え方やコミュニケーション力。現場で本当に必要な力がつきます。<br>
		</div>	


        <div class="col-lg-4">
        <span style="font-size:20px; color:#e73562; font-weight:bold;">⑤業界の人とのリアルな接点ができる</span><br><br>
        プロ講師との接点は、今後のキャリアを築いていく上で大きな財産になります。<br>
        </div>


		<div class="col-lg-4">
        <span style="font-size:20px; color:#e73562; font-weight:bold;">⑥刺激をもらえる仲間ができる</span><br><br>
        同じ志を持つ仲間がいることで、学ぶモチベーションを高く維持できます。<br>
         	
		</div>	


        

		</div><!--/col8-->
	</div><!--/mis -->
	
	<div class="col-1"></div>

</div><!-- /row -->

