<div class=row>
<div class="col bg-bei p-3">
<% if(usr) { %>
logged in.<br>
welcome <%= usr%><br>

<% include ./obut%>
<%} else {%>
no 

<%} %>

</div>

<div class="col bg-ali">
<iframe width="560" height="315" src="https://www.youtube.com/embed/H4sSldXv_S4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br><br>


</div>

</div>
