
<hr>

<div class=row>
    <div class="col-lg-1"></div>

    <div class="col-lg-10">
    <div class="crs3">			
    料金<br><br>
    </div><!-- /crs3 --> 
    </div><!-- col10-->
    
    <div class="col-lg-1"></div>

</div><!-- row-->

<!-- タイトル-->


<div class="row">

    <div class="col-lg-2"></div>

    <div class="col-lg-2 bg-info"> 
    <% include ./pay1 %>
         
    </div><!-- /col6-->        
    
    <div class="col-lg-2 bg-mis">
    <% include ./pay1 %>
    </div><!-- /col6-->
   
    <div class="col-lg-2 bg-mis"> 
    i     
    </div><!-- /col6-->        
    
    <div class="col-lg-2 bg-mis">
    i     
    </div><!-- /col6-->

    <div class="col-lg-2"></div>

</div><!-- /row -->



