   <div class="col-12"> 
   <div class="box29">
   <p>ライブ授業</p>
   </div></div><!--/box29--> 
  
   <br> 

   <div class="col-12"> 
   <div class="box29">
   <p>e-laening</p>
   </div></div><!--/box29--> 


