    <div class="dropdown-menu" aria-labelledby="sup">
          <a class="dropdown-item" href="/mypage">my page</a>
          <a class="dropdown-item" href="/acc">account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="log-out">
              <% include ./obut%> 
              </a>
        </div>


