<ul class="navbar-nav ml-auto">

<% include ./drp%>
<li class="nav-item">
<a class="nav-link" href="/#fea">特徴</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/#crs">コース</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/#map">アクセス</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/#ema">Email</a>
</li>

</ul>

