<div class="row">

<div class="col is-one-3 bkg-ali"> 
    <p class="bkg-bei p-10 has-t-cen" > paypal</p>
<% include ./pal%>
</div><!-- /col-->
<div class="col is-one-3 bkg-mis"> 
    <p class="bkg-bei p-10 has-t-cen" > paidy</p>
<% include ./pid %>
</div><!-- /col-->

<div class="col is-one-3 bkg-ali"> 
    <p class="bkg-bei p-10 has-t-cen " > rpay</p>
<% include ./rid %>
</div><!-- /col-->

</div><!-- row-->


