<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>

<html>
<body>

<section class="section">
<div class="row">

<div class="col is-one-4 bkg-ali">
    <% include shop/cat %>
    <br><% include usr/usr%>
</div><!-- /col1-->

<div class="col is-three-4 bkg-bei">
<% include usr/fav%>
</div><!-- /col1-->

</div><!-- /col2-->

</div><!-- /row-->
</section>

</body>
</html>

