<!DOCTYPE html>
<html>
<% include par/head%>
<% include par/nav%>

<body>

<!-- menu -->

<section class="section">
<div class="row">
<div class="col is-one-4 ">
<% include shop/cat %>
<br><% include usr/usr%>

</div>

<% if(usr){ %>

<div class="col" >
<p class="p-10 has-t-cen bkg-bei">history</p><br>

<% include his/row%>

</div><!-- col-->
</div><!-- col 1/4-->

</div><!-- row-->


<% } else { %><% include log/in%><% } %>

</section><!-- sec-->

</body>

</html>

