<!DOCTYPE html>
<% include par/head%>
<% include nav/nav%>

<html>
<body>

<!-- menu -->

	<div class="row">

		<div class="col">

<% include info/agmt%>
		</div><!--/col3/4-->
	
    </div><!-- row-->



</body>


</html>

