<!DOCTYPE html>
<% include par/head%>
<% include nav/nav%>

<html>
<body>

<!-- menu -->

	<div class="row">
	<div class="col-lg-2 bg-info">
	<% include shop/cat%>
	</div>
	
	<div class="col-lg-8">
	<% include shop/item %>
	</div><!-- /col-->
	
	<div class="col-lg-2"></div>
	</div><!-- /row-->

</body>
</html>

