<!DOCTYPE html>
<% include par/head%>
<%include nav/nav%>

<html>
<body>

<!-- menu -->

<section class="section">
	<div class="row">
		<div class="col-lg-1 bg-ali">		</div><!--col1/4-->
	
		<div class="col-lg-10 bkg-bei">
		<% include log/sel%>
		<% include gor/top%>
		</div><!--col3/4-->

	<div class="col-lg-1 ">		</div><!--col3/4-->

    </div><!-- row-->


</section>
</body>
</html>

