<!DOCTYPE html>
<% include par/head%>
<% include par/nav%>

<html>
<body>

<!-- menu -->

<section class="section">
	<div class="row">
		<div class="col is-one-4">
		<% include shop/cat%>
		</div><!--/col1/4-->
	
<div class="col bkg-bei ">
<% include sign/sel%>
</div><!--/col3/4-->
	
</div><!-- row-->


</section>


</body>
</html>

